*{padding: 0; margin: 0;}
canvas{
  background: #eee;
  display: block;
  margin: 0 auto;
}
.btn{
  height: 50px;
  width: 500px;
  font-size: 20px;
}
#canvasX{
  position: absolute;
  margin-left: 55%;
}
#canvasO{
  margin-left:35%;
  position: absolute;
}
.textX{
  position: absolute;
  margin-left: 43%;
  font-size: 20px;
  margin-bottom: -10%;
}
.textY{
  position: absolute;
  margin-left: 63%;
  font-size: 20px;
  margin-bottom: -10%;
}
